APP_PORT=8080
JWT_ISSUER=autentigo
JWT_PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----\nchange-me\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY_PEM="-----BEGIN PUBLIC KEY-----\nchange-me\n-----END PUBLIC KEY-----"
POSTGRES_DB=autentigo
POSTGRES_USER=autentigo
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-account@gmail.com
SMTP_PASSWORD=change-me
SMTP_FROM_ADDRESS=your-account@gmail.com
